head
  meta(charset="utf-8")
  title Jupit - Your Journey Begins Here
  meta(name="description" content="Jupit - Your Journey Begins Here")
  meta(name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1")
  link(rel="shortcut icon" type="image/png" href="favicon.png?v1" sizes="16x16 32x32 64x64")
  link(rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-precomposed.png")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  // Favicons
  link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
  link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="72x72" href="/branding/favicons/apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="76x76" href="/branding/favicons/apple-touch-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="114x114" href="/branding/favicons/apple-touch-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="120x120" href="/branding/favicons/apple-touch-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="144x144" href="/branding/favicons/apple-touch-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="152x152" href="/branding/favicons/apple-touch-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="/branding/favicons/apple-touch-icon-180x180.png")
  link(rel="icon" type="image/png" href="/branding/favicons/favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="/branding/favicons/favicon-194x194.png" sizes="194x194")
  link(rel="icon" type="image/png" href="/branding/favicons/favicon-96x96.png" sizes="96x96")
  link(rel="icon" type="image/png" href="/branding/favicons/android-chrome-192x192.png" sizes="192x192")
  link(rel="icon" type="image/png" href="/branding/favicons/favicon-16x16.png" sizes="16x16")
  link(rel="manifest" href="/branding/favicons/manifest.json")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="msapplication-TileImage" content="/mstile-144x144.png")
  meta(name="theme-color" content="#ffffff")
  script(src="//load.sumome.com/" data-sumo-site-id="ed7775de38a43db204ffd4994258adc3290c64b4d05ba7a469181f2c44d64bb7" async="async")
