<template name="index">
<span class="x-bootstrap" style="
    background: #fff;
    display: block;
    overflow-x: hidden;
">
	<div class="container-fluid main">
		<div class="top row">
			<img src="images/splashheroimage2.jpg" alt="cover" />
			<div class="container">
				<div class="col-md-9 col-xs-12">
					<article class="pull-left top-article">
							<h1>Jupit is your Globile friend</h1>
							<hr style="width: 60px;">
							<p>Discover things to do, places to stay, and flights to get anywhere. Your world reimagined </p>
						<a href="/plan"><button class="b-btn b-btn-success b-btn-lg">TRY IT NOW</button></a>
					</article>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="second row">
				<div class="col-md-12">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<article>
							<h2>The Mobile in Globile</h2>
							<p>Jupit will soon be available as a mobile app. Enter your number to be notified via text with a link to download when it launches.</p>
						</article>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 search-form">
						<form class="form-inline" role="form" id="text-me">
							<center>
								<div class="form-group col-md-8 col-sm-8">
									<input type="text" class="form-control form-search-input" name="mobile" placeholder="Enter Mobile Number" />
								</div>
								<div class="form-group col-md-4 col-sm-4">
									<input type="submit" class="b-btn b-btn-success " value="Text Me">
								</div>
							</center>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="third">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12">
							<div class="col-md-5 col-sm-6" >
								<img src="images/PlayinAustin.jpg" class="img-responsive " alt="PlayinAustin">
							</div>
							<div class="col-md-7 col-sm-6">
								<h2>Where technology and authentic travel meet</h2>
								<!-- <h3>Where technology and authentic travel meet</h3> -->
								<p> Hassle-free traveling for the new age generation. Easy. Whether you're visiting or even moving, your globile friend makes every town your home town. What else do you want from us? Get out there, already!</p>
								<a href="/plan"><button class="b-btn b-btn-success  " value="">TRY IT NOW</button></a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="forth">
			<div class="container">
				<div class="row">
					<center>
						<h4>ALL IN ONE TRAVEL TOOL</h4>
						<hr style="width:100px">
						<div class="col-md-4 col-sm-4">
							<!-- <i class="fa fa-paper-plane-o site-icon" aria-hidden="true"></i> -->
							<img src="images/person-lying-on-bed-inside-a-home_318-44309.png" height="50" />
							
							
							<h4>PLACES TO STAY</h4>
							
							<p>Crave that authentic feel when you&#39;re traveling? We&#39;ve got home stays for you. Need five star luxury hotel? We&#39;ve got that, too. </p>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- <i class="fa fa-cogs site-icon" aria-hidden="true"></i> -->
							<img src="images/movie-tickets-silhouette_318-35776.png" height="50" />
							
							<h4>THINGS TO DO</h4>
							
							<p>Discover events and activities to do on your trip. From concerts to craft festivals to museums. Adventure awaits. </p>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- <i class="fa fa-calendar site-icon" aria-hidden="true"></i> -->
							<img src="images/Plane_icon.png" height="50" />
							
							<h4>FLIGHTS</h4>
							
							<p>Explore what flights work best for you and your crew. 
								<a href="" style="color: #fff"> I'm in, lets go</a></p>
						</div>
					</center>
				</div>
			</div>
		</div>
		<div class="fifth">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<div class="row">
							<center>
								<h1>Don't Wait To Dream</h1>
								
								<p>Save time, see the world, experience diversity, educate your palate, extend your lifespan by creating new neuron growth (the true cure for Alzheimer's)*.</p>
							</center>
						</div>

						<div class="row image-group">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<a href="/plan"><img src="images/ExploreMarrakech.jpg" class="img-responsive" alt="PlayinAustin"></a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<a href="/plan"><img src="images/PlayinAustin.jpg" class="img-responsive" alt="PlayinAustin"></a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<a href="/plan"><img src="images/FlytoTokyo.jpg" class="img-responsive " alt="PlayinAustin"></a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<a href="/plan"><img src="images/VillasinSantorini.jpg" class="img-responsive " alt="PlayinAustin"></a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<a href="/plan"><img src="images/StayinParis.jpg" class="img-responsive" alt="PlayinAustin"></a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<a href="/plan"><img src="images/DiscoverSydney.jpg" class="img-responsive " alt="PlayinAustin"></a>
							</div>

						</div>
						<div class="row">
							
							<center>
								<a href="/plan"><button class="b-btn b-btn-success  ">TRY IT NOW</button></a>
							</center>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sixth">
			<div class="container">
				<div class="row">
					<div class="col-md-12 cover">
						<div class="col-md-offset-1 col-md-10">
							<center>
								<h2>Calling all Travel Bloggers</h2>

								<p>A painful amount of the same boring ‘travel’ information has dominated the travel industry, now it is time for the truly exceptional to claim the space. We’re looking for travel bloggers to co-create an eco-system of curated travel content for an extraordinary on and off line experience. </p>
								
								<a href="http://blog.jupit.co/"><button class="b-btn more-info-btn">More Info</button></a>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="seventh">
			<div class="container">
				<div class="row">
					<center>
						<h2>Contact Us</h2>
						<p>jupit@jupit.co</p>
						<p>300 NW 26th St, Miami, FL 33127</p>
						<br/>
						<h2>Follow Us</h2>
						<span>
							<a  target="_blank" href="https://www.facebook.com/Jupit-844668892306888/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a  target="_blank" href="https://twitter.com/jupitapp/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<!--<a  target="_blank" href=""><i class="fa fa-google-plus "  aria-hidden="true"></i></a>-->
							<a  target="_blank" href="https://instagram.com/jupitapp/"><i class="fa fa-instagram "  aria-hidden="true"></i></a>
						</span>
						<br/>
						<h4><a target="_blank" href="http://blog.jupit.co/">Blog</a></h4>
						<br/>
						<img src="images/jupitfblogo.jpg" height="150" />
						<p>&copy; Jupit 2016</p>
					</center>
				</div>
			</div>
		</div>
	</div>
</span>
</template>