.container
  .section.row
    .col.s12.z-depth-1.white
      h1.header.center Where do you want to go?
      .row.section

        form#plan.section.col.s10.push-s1.center
          .row.section
            .input-field.col.s12.m8.push-m2.l6.push-l3
              input#city.center(type="text" name="city" placeholder="Miami, FL, United States")
          .row.center
            .input-field.col.s6.m4.push-m2
              input#flightCheck.center(type="checkbox" name="flightCheck")
              label(for="flightCheck") need a flight?
            .input-field.col.s6.m4.push-m1
              input#dateCheck.center(type="checkbox")
              label(for="dateCheck") let's talk dates

          #fromLocation.row.section.hidden
            p.flow-text.center Where are you coming from?
            .input-field.col.s12.m8.push-m2.l6.push-l3
              input#fromCity.center(type="text" placeholder="Los Angeles, CA, United States")

          #datePicker.row.section.hidden
            p.flow-text.center When are you going?
            .input-field.col.s12.m8.push-m2.l6.push-l3
              input#dateStart.center(type="date" class="datepicker")

          .row.section
            .input-field
              button.btn.waves-effect.waves-light(type="submit" name="action") Go

 #footer(style='position: fixed; bottom: 0; width: 100%;')
      #popup.container
        #space.section.row.blue-grey.lighten-4(style='padding: 10px 20px;margin-bottom: 0px;')
          // <h5 style="display: inline-block;" class="">Need Insperation ?</h5>
          h5(style='display: inline-block; font-weight: normal; cursor:pointer;') Need Insperation ?
      #divpopup.container(style='height: 130px; padding: 0px; display: none;')
        .section.row.white.lighten-5(style='padding: 15px 15px 0px 15px; margin-bottom: 0px;')
          center
            .col.s4
              img.responsive-img(src='http://placehold.it/300x130', height='130', width='300')
            .col.s4
              img.responsive-img(src='http://placehold.it/300x130', height='130', width='300')
            .col.s4
              img.responsive-img(src='http://placehold.it/300x130', height='130', width='300')