.row
 .col.s12
  ul.tabs
    li.tab.col.s3
      a(href="#lodgingResults") Places to stay
    li.tab.col.s3
      a(href="#eventResults") Things to do
    li.tab.col.s3
      a(href="#travelResults") Flights
.col.s12
  .row(style='margin-bottom: 5px')
        center
          .col.s4
            img.responsive-img(src='http://placehold.it/300x130', style='width: 100%; height: 130px; ')
          .col.s4
            img.responsive-img(src='http://placehold.it/300x130', style='width: 100%; height: 130px;')
          .col.s4
            img.responsive-img(src='http://placehold.it/300x130', style='width: 100%; height: 130px;')
 .col.s12
  .row#lodgingResults
    if hasLodgingResults
      each lodgingResults
        +lodgingResult

  .row#eventResults
    if hasEventResults
      each eventResults
        +eventResult

  .row#travelResults
    if hasTravelResults
      each travelResults
        +travelResult
    else
      div.spinner#travel-loading
        div.double-bounce1
        div.double-bounce2

