.row
 .col.s12
  ul.tabs
    li.tab.col.s3
      a(href="#lodgingResults") Places to stay
    li.tab.col.s3
      a(href="#eventResults") Things to do
    li.tab.col.s3
      a(href="#travelResults") Flights
.col.s12
  .row(style='margin-bottom: 5px')
        center
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          .col.s4
            ins.adsbygoogle(style='display:inline-block;width:320px;height:100px', data-ad-client='ca-pub-3591579482045542', data-ad-slot='1814173478')
            // img.responsive-img(src='http://placehold.it/320x100', style='width: 100%; height: 100px; ')
          .col.s4
            ins.adsbygoogle(style='display:inline-block;width:320px;height:100px', data-ad-client='ca-pub-3591579482045542', data-ad-slot='1814173478')
            // img.responsive-img(src='http://placehold.it/320x100', style='width: 100%; height: 100px;')
          .col.s4
            ins.adsbygoogle(style='display:inline-block;width:320px;height:100px', data-ad-client='ca-pub-3591579482045542', data-ad-slot='1814173478')
            // img.responsive-img(src='http://placehold.it/320x100', style='width: 100%; height: 100px;')
          script.
                (adsbygoogle = window.adsbygoogle || []).push({});
 .col.s12
  .row#lodgingResults
    if hasLodgingResults
      each lodgingResults
        +lodgingResult

  .row#eventResults
    if hasEventResults
      each eventResults
        +eventResult

  .row#travelResults
    if hasTravelResults
      each travelResults
        +travelResult
    else
      div.spinner#travel-loading
        div.double-bounce1
        div.double-bounce2

