.row
 .col.s12
  ul.tabs
    li.tab.col.s3
      a(href="#lodgingResults") Places to stay
    li.tab.col.s3
      a(href="#restaurantResults") Restaurants
    li.tab.col.s3
      a(href="#eventResults") Things to do
    li.tab.col.s3
      a(href="#travelResults") Flights
.col.s12
  .row(style='margin-bottom: 5px; margin-top: 10px')
        center          
            .col.s4.blog-tile.one(style="position: relative; height: 60px; overflow:hidden;")
                a(href="" target="_blank")
                    img.responsive-img(src='', style='width: 100%')
                p(style="position: absolute; bottom: 0px; left: 0px; right: 0px; background-color: #fff; opacity: 0.9; font-size: 12px; color: #000; ")
            .col.s4.blog-tile.two(style="position: relative; height: 60px; overflow:hidden;")
                a(href="" target="_blank")
                    img.responsive-img(src='', style='width: 100%')
                p(style="position: absolute; bottom: 0px; left: 0px; right: 0px; background-color: #fff; opacity: 0.9; font-size: 12px; color: #000; ")
            .col.s4.blog-tile.three(style="position: relative; height: 60px; overflow:hidden;")
                a(href="" target="_blank")
                    img.responsive-img(src='', style='width: 100%')
                p(style="position: absolute; bottom: 0px; left: 0px; right: 0px; background-color: #fff; opacity: 0.9; font-size: 12px; color: #000; ")
.col.s12
  .row#lodgingResults
    if hasLodgingResults
      each lodgingResults
        +lodgingResult

  .row#restaurantResults
    if hasRestaurantResults
      each restaurantResults
        +restaurantResult

  .row#eventResults
    if hasEventResults
      each eventResults
        +eventResult

  .row#travelResults
    if hasTravelResults
      each travelResults
        +travelResult
    else
      div.spinner#travel-loading
        div.double-bounce1
        div.double-bounce2
