.row
 .col.s12
  ul.tabs
    li.tab.col.s3
      a(href="#lodgingResults") Places to stay
    li.tab.col.s3
      a(href="#eventResults") Things to do
    li.tab.col.s3
      a(href="#travelResults") Flights

 .col.s12
  .row#lodgingResults
    if hasLodgingResults
      each lodgingResults
        +lodgingResult
    else
      div.spinner#lodging-loading
        div.double-bounce1
        div.double-bounce2

  .row#eventResults
    if hasEventResults
      each eventResults
        +eventResult
    else
      div.spinner#event-loading
        div.double-bounce1
        div.double-bounce2
  
  .row#travelResults
    if hasTravelResults
      each travelResults
        +travelResult
    else
      div.spinner#travel-loading
        div.double-bounce1
        div.double-bounce2

