body {
  background-color: #F6F4F1;
}

.minheight {
  min-height: 400px;
}

.row.valign {
  width: 100%;
}

.navbar-fixed {
  position: fixed;
}

.brand-logo img {
  margin-top: 5px;
}

.transparent {
  box-shadow: none;
}

.parallax-container {
  height: 750px;
}

.parallax img {
  max-height:100%;
}

#video-background { 
  position:relative;/* absolute;
  bottom: 50%; 
  right: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
*/
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;
}

a.at-link:visited {
  color: #039be5;
}

a:hover, a:visited, button {
  text-decoration: none;
  color: white;
}

.collapsible-header {
  height: inherit;
  padding: 0.01rem 1rem;
}

.collapsible-body.row {
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  display: none;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #058E81;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}